*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
#nav1{
    height: 40px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
    justify-content: space-between;
    
    
}

#left{
    height: 30px;
    width: 50%;
    /* background-color: rgb(242, 229, 50); */
    display: flex;
    align-items: center;


}
#circle1{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    margin-left: 20px;

}
#circle2{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}

#right{
    height: 30px;
    width: 50%;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    /* background-color: antiquewhite; */
    display: flex;
   gap: 19px;
   justify-content: right;
   padding-right: 30px;
}

#nav2{
    height: 80px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 900;
    /* font-family: ; */

}

#nav3{
    height: calc(100% - 120px);
    width: 100%;
    /* background-color: beige; */
    
}
#top{
    height: 45%;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
  
}
#top::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
    
}
#top::-webkit-scrollbar-thumb{
    background-color: orange;

}

.elem{
    height: 100%;
    width: 50%;
    /* background-color: brown; */
    /* border: 2px solid #000; */
    flex-shrink: 0 ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.elem h1{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;

}
#image{
    width: 100%;
    height: 55%;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;


}
#image::-webkit-scrollbar{
    display: none;
    background-color: transparent;
}
#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}
